{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div
      class="bg-contact2"
      style="background-image: url({% static 'images_form/bg-02.jpg'%}) ; "
    >
      <div class="container-contact2">
        <div class="wrap-contact2">
          <form class="contact2-form validate-form" method="POST" action='crop_form_result'>
            {% csrf_token %}
            <span class="contact2-form-title">Find the best crop for your farm</span>

            <div
              class="wrap-input2 validate-input"
              data-validate="Valid email is required: ex@abc.xyz"
            >
              <input class="input2" type="text"  id="N" name="N"/>
              <span class="focus-input2" data-placeholder="Nitrogen"></span>
            </div>

            <div
              class="wrap-input2 validate-input"
              data-validate="Valid email is required: ex@abc.xyz"
            >
              <input class="input2" type="text" name="P" id="P" />
              <span class="focus-input2" data-placeholder="Phosphorous"></span>
            </div>

            <div
              class="wrap-input2 validate-input"
              data-validate="Valid email is required: ex@abc.xyz"
            >
              <input class="input2" type="text" id="K" name="K"/>
              <span class="focus-input2" data-placeholder="Pottasiun"></span>
            </div>

            <div
              class="wrap-input2 validate-input"
              data-validate="Valid email is required: ex@abc.xyz"
            >
              <input class="input2" type="text"  id="ph_level" name="ph_level"/>
              <span class="focus-input2" data-placeholder="PH Level"></span>
            </div>

            <div
              class="wrap-input2 validate-input"
              data-validate="Valid email is required: ex@abc.xyz"
            >
              <input class="input2" type="text"  id="rainfall" name="rainfall"/>
              <span class="focus-input2" data-placeholder="Rainfall"></span>
            </div>

            <div
              class="wrap-input2 validate-input"
              data-validate="Valid email is required: ex@abc.xyz"
            >
              <input class="input2" type="text" id="state" name="state"/>
              <span class="focus-input2" data-placeholder="State"></span>
            </div>

            <div
              class="wrap-input2 validate-input"
              data-validate="Valid email is required: ex@abc.xyz"
            >
              <input class="input2" type="text" id="city" name="city"/>
              <span class="focus-input2" data-placeholder="City"></span>
            </div>

            <div class="container-contact2-form-btn">
              <div class="wrap-contact2-form-btn">
                <div class="contact2-form-bgbtn"></div>
                <button class="contact2-form-btn" >Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--===============================================================================================-->
    <script src="{% static 'vendor_form/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor_form/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'vendor_form/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor_form/select2/select2.min.js' %}"></script>

    <script src="{% static 'js_form/main.js' %}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-23581568-13");
    </script>
  </body>
</html>
{% endblock content %}