{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div
      class="bg-contact2"
      style="background-image: url({% static 'images_form/bg-03.jpg'%}) ; "
    >
      <div class="container-contact2">
        <div class="wrap-contact2">
          <form class="contact2-form validate-form" method="POST" action='fertilizer_form_result'>
            {% csrf_token %}
            <span class="contact2-form-title">Find the best crop for your farm</span>

            <div
              class="wrap-input2 validate-input"
              data-validate="Valid email is required: ex@abc.xyz"
            >
              <!-- <input class="input2" type="text"  id="crop" name="crop" required/>
              <span class="focus-input2" data-placeholder="Crop you want to grow"></span> -->
              <label for="crop" class="input2" style="font-family: Poppins-Regular;">Crop you want to grow</label>
      <select
        id="crop"
        name="crop"
        class="form-control"
        style="font-weight: 200; color: #555555;border: none;"
        required
      >
      <option value="apple">Apple</option>
      <option value="banana">banana</option>
      <option value="blackgram">blackgram</option>
      <option value="chickpea">chickpea</option>
      <option value="coconut">coconut</option>
      <option value="coffee">coffee</option>
      <option value="cotton">cotton</option>
      <option value="Grapes">Grapes</option>
      <option value="groundnut">groundnut</option>
      <option value="Jute">Jute</option>
      <option value="kidneybeans">kidneybeans</option>
      <option value="lentil">lentil</option>
      <option value="maize">maize</option>
      <option value="mango">Mango</option>
      <option value="mothbeans">mothbeans</option>
      <option value="mungbean">mungbean</option>
      <option value="muskmelon">muskmelon</option>
      <option value="mustard">mustard</option>
      <option value="orange">orange</option>
      <option value="paddy">paddy</option>
      <option value="papaya">papaya</option>
      <option value="pearlmillet">pearlmillet</option>
      <option value="pigeonpea">pigeonpea</option>
      <option value="pomegranate">pomegranate</option>
      <option value="rapeseed">rapeseed</option>
      <option value="rice">rice</option>
      <option value="sorghum">sorghum</option>
      <option value="sugarcane">sugarcane</option>
      <option value="watermelon">watermelon</option>
      <option value="wheat">wheat</option>

    </select>
            </div>
            <div
              class="wrap-input2 validate-input"
              data-validate="Valid email is required: ex@abc.xyz"
            >
              <input class="input2" type="text"  id="N" name="N" min="0" max="100" required/>
              <span class="focus-input2" data-placeholder="Nitrogen" ></span>
            </div>

            <div
              class="wrap-input2 validate-input"
              data-validate="Valid email is required: ex@abc.xyz"
            >
              <input class="input2" type="text" name="P" id="P" min="0" max="100" required/>
              <span class="focus-input2" data-placeholder="Phosphorous"></span>
            </div>

            <div
              class="wrap-input2 validate-input"
              data-validate="Valid email is required: ex@abc.xyz"
            >
              <input class="input2" type="text" id="K" name="K" min="0" max="100" required/>
              <span class="focus-input2" data-placeholder="Pottasiun"></span>
            </div>

            

            <div class="container-contact2-form-btn">
              <div class="wrap-contact2-form-btn">
                <div class="contact2-form-bgbtn"></div>
                <button class="contact2-form-btn" >Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--===============================================================================================-->
    <script src="{% static 'vendor_form/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor_form/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'vendor_form/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor_form/select2/select2.min.js' %}"></script>

    <script src="{% static 'js_form/main.js' %}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-23581568-13");
    </script>
  
  </body>
</html>
{% endblock content %}